body{
    background-color: black;
}
.container{
    width: 300px;
    margin-top: 200px;
    border-radius: 25px;
    border:3px solid white;
   
}
    
p{
    color: lime;
    text-align: center;
    font-size: large;
    margin: auto;
}  
#display{
    background-color: black;
    color: white;
    text-align: right;
    border:1px solid white;

} 

.btn-circle.btn-md { 
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 10px; 
    text-align: center; 
    background-color: rgb(85, 81, 81);
}
.btn-warning { 
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 10px; 
    text-align: center;
    color: black; 
    
}
.btn-success{
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 10px; 
    text-align: center; 
    
}
.row{
    padding: 3px;
}
